body{
    text-align: center;
}
#top_pic{
    float: right;
    margin: 2em;
    position: relative;
    top: 75px;
}
h1{
    font-size:130%;
    text-align: center;
    background-color: crimson;
    position: fixed;
    top: -2.3%;
    left: 0%;
    right: 0%;
    padding: 2% 29.7% 2% 29.7%;
    z-index: 1;
    color: rgb(61, 61, 61);
}
h1:hover{
   color: black;

}
h2:hover{
    color: crimson;
 }
#top_text{
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 1em;
    margin-bottom: 30%;
    position: relative;
    top: 100px;
}